body {
    margin: 0px;
}
.main {
    font-family: Product;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    background-color: #120821;
    color: white;
    overflow: hidden;
    padding-bottom: 100px;
}
.main__title {
    margin-top: 150px;
    font-size: 40px;
    /* margin-left: 150px; */
    /* border-bottom: 1px solid white; */
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
.hr{
    margin: 20px 0;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
}
.glow-button.return{
    background-color: #FFFFFF;
    color: #120821;
}
.main__wrap{
    padding: 0 80px;
}
.main__top{
    display: flex;
    justify-content: space-between;
}
.main__bottom{
    padding: 0 20px;
    margin-top: 50px;
    display: flex;
}
.main__left{
    flex: 2;
}
.main__right{
    flex: 1;
}
.main__item{
    display: flex;
}
.wrap__left{
    display: flex;
    flex: 3;
}
.wrap__right{
    flex: 1;
}
.wrap__right__top{
    display: flex;
    margin-bottom: 30px;
    font-size: 2rem;
}
.button{
    cursor: pointer;
}
.amount{
    margin: 0 15px;
}
.wrap__right__bottom{
    font-size: 2.3rem;
}
.main__item__left img{
    width: 150px;
    height: 150px;
}
.main__item__right{
    margin-left: 20px;
}
.item__info{
    margin-bottom: 15px;
}
.main__right{
    margin-left: 30px;
    height: fit-content;
    padding: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}
.top__title{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.bottom__info{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
.main__wrapper {
    position: relative;
    width: calc(100% - 300px);
    left: 150px;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
}
.main__item img{
    width: 100%;
    background-color: white;
    border-radius: 20px;
}
.main__item__name {
    font-size: 1.3vw;
    margin-top: 15px;
    margin-bottom: 15px;
}
.main__item__buy{
    width: 100%;
    height: 40px;
    background-color: #A238FF;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    box-shadow: 0px 0px 15px #A238FF;
    transition-duration: 0.5s;
    cursor: pointer;
}
.main__item__buy:hover {
    color: #232323;
    background-color: white;
    box-shadow: 0px 0px 15px white;
}